extends layout

block content
    br
    ul
        li
            img(src="", alt="Study To Show yourself approved")
        li
            img(src="", alt="Be the Change that the world needs today by studying to be the best")
        li
            img(src="", alt="it starts with that little book you study for you to be the best")
    br
    p.indexp The brightest minds that change the world and transformed things started with reading and having ideas which lead to creativity