<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/main.css")
        script(src="./js/main.js")
    body
    block header
        .float-left
            p.site-title
                a(href="/") Education Resource Center
        nav
            ul#menu
                li
                    a(href="/") Home
                li
                    a(href="/registration") Registration
                li
                    a(href="/viewStudents") List Resource
    block content 
    block footer
        footer
            .content-wrapper
                .float-left
                    p &copy; CopyRight Knowledge For Development
                .float-right
                    p Get to know more 
                        a(href="/About") about us             