extends layout

block content
    form(action="", method="get")
        br
        br
        h2 Welcome Administrator
        br
        h3 Which of the following activities do you wish to perform
        br
        section
            p To view a list of all avialable students on your Website 
                a(href="viewStudents.html") Click Here for details you do have the right to delete and edit the students data
        section
            p To add a resource to the Website please 
                a(href="createStudentResource.html") Click Here
            p To check all resource available on your website 
                a(href="show.html") Click Here