extends layout

block content
    form(action="" name="welcomeStudent")
        br
        br
        h2 Welcome Please code it to print the name of the student here
        br
        h3 Make reading your habit and you'll be the best that you've ever thought to be
        br
        section
            p Here is a List of all available resource for your class group
            section
                header Title:
                br
                p Author:
                br
                p Details:
                br
                input(type="button", value="Read")
        section
            p To update your record <a href="updateStudnt.html">Click Here</a>
        
    